body{
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:500px;
    background: rgba(255,255,255,0.05);
    padding:40px;
    border-radius:25px;
    box-shadow:0 0 30px rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
}

h1{
    color:#38bdf8;
    margin-bottom:10px;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:30px;
}

.upload-box{
    margin-bottom:20px;
}

input[type="file"]{
    display:none;
}

label{
    background:#1d4ed8;
    color:white;
    padding:12px 25px;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
    display:inline-block;
}

label:hover{
    background:#2563eb;
}

#statusText{
    display:block;
    margin-top:10px;
    font-weight:bold;
}

.loaded{
    color:#22c55e;
}

audio{
    width:100%;
    margin:20px 0;
    border-radius:12px;
}

button{
    background:#06b6d4;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#0891b2;
}

.loading{
    margin-top:20px;
    color:#facc15;
    font-weight:bold;
}

#resultados{
    margin-top:25px;
}

.instrument-card{
    display:flex;
    justify-content:space-between;
    background: rgba(255,255,255,0.08);
    padding:12px 18px;
    margin:10px 0;
    border-radius:12px;
    border-left:4px solid #38bdf8;
}